
__pycache__/
*.py[cod]
*$py.class
*.so

venv/
ENV/
env/

db.sqlite3
*.sqlite3
media/
staticfiles/

.env
*.key
secret.py
config/local_settings.py

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.log
tmp/
temp/

*.pdf
*.docx
!terms.docx        ← ← ← Важно!
!README.md

.pytest_cache/
htmlcov/
.coverage
